body {
  font-family: Helvetica, "Helvetica Neue", Arial, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: #faf9f4;
  color: #303030;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.application-content {
  margin: 50px 0;
}