<div class="application-header">
  <div class="container">
    <ul class="left">
      <li class="logo"><a href="#">TravelApp</a></li>
    </ul>

    <ul class="right">
      {{#if currentUser}}
        <li><a href="#" {{action "logOut"}}>Log Out</a></li>
      {{else}}
        <li>{{#linkTo "signup"}}Sign Up{{/linkTo}}</li>
        <li>{{#linkTo "login"}}Log In{{/linkTo}}</li>
      {{/if}}
      <li>
        <div class="mq-button mq-raised mq-medium mq-orange">
          <div class="mq-wrapper">
            <i>Add a Place</i>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>

<div class="application-content">
  <div class="container">
    {{outlet}}
  </div>
</div>
