<div class="application-header">
  <div class="container">
    <ul class="left">
      <li class="logo"><a href="#">TravelApp</a></li>
    </ul>

    <ul class="right">
      <li>{{#linkTo "signup"}}Sign Up{{/linkTo}}</li>
      <li><a href="#">Log In</a></li>
      <li>
        <div class="mq-button mq-raised mq-medium mq-orange">
          <div class="mq-wrapper">
            <i>Add a Place</i>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>

<div class="application-content">
  <div class="container">
    {{outlet}}
  </div>
</div>
