<div class="dialogshadow">
  <div class="dialog">

    <div class="dialogcontent">
      content
    </div>

    <div class="dialogbuttons">
      <div {{action createPlace}} class="mq-button mq-raised mq-large mq-orange">
        <div class="mq-wrapper">
          <i>Add Place</i>
        </div>
      </div>

      <div {{action closeDialog target="view"}} class="mq-button mq-raised mq-large mq-white">
        <div class="mq-wrapper">
          <i>Cancel</i>
        </div>
      </div>
    </div>

  </div>
</div>